@media screen and (max-width:1024px)
{
	.overlay{
		width:200px;
		height:200px;
		top:-220px;
		margin-left:26px;
		left:0;
		right:0;
		position:absolute;
	}
	
	.logo:hover .overlay{
		width:200px;
		height:200px;
		position:absolute;
		top:0px;
		margin-left:26px;
		left:0;
		right:0;
		background:rgba(0,0,0,.5);
		transition:.9999s;
	}
}

@media screen and (max-width:768px)
{
	#first-section{
	padding-bottom:600px;

}

	.logo{
		width:50%;
		
	}
	
	.logo img{
		
		padding:30px;

	}
	
	.overlay{
		top:-220px;
		left:0;
		right:0;
}

	.logo:hover .overlay{
		top:0px;
		left:0;
		right:0;
}

@media screen and (max-width:640px)
{
	
}

@media screen and (max-width:480px)
{
	
}

@media screen and (max-width:320px)
{
		
}